/* Common CSS Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Silkscreen&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 70px;
}


/* Main Container */
.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 130px;
    margin-top: 50px;

}

/*Banner styles ***** Starts here******/
.first-container {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-bottom: 130px;
}

.big-image-area {
    background-color: black;
    width: 1321px;
    height: 646px;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.big-image-text {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

}

.big-image-text h2 {
    margin: 0;
}

.big-image-text p {
    width: 506px;
    Height: 78px;
}

.link-design {
    text-decoration: none;
    background-color: #DD0000;
    color: aliceblue;
    padding: 16px 25px;
    border-radius: 5px;
}

.big-image img {
    width: 581px;
    height: 613px;
}



/* Second Part */
.second-container {
    display: flex;
    gap: 24px;
    justify-content: space-around;

    margin: 0 auto;
}

.grid-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 24px;
}

.item-1 {

    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 312px;
    height: 312px;

    background: #161616;
    border-radius: 10px;
}

.item-1 div:nth-child(3) {
    background-color: #DD0000;
}

.button-design {
    width: 252px;
    height: 64px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FFFFFF;
    border-radius: 10px;
}

.button-design a {
    color: #161616;
    text-decoration: none;
}

.button-design a,
p {
    margin: 0;
}

/* Individual Blog design */
.item {

    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 312px;
    height: 362px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgb(201, 198, 206);
}

.item img {
    width: 312px;
    height: 175px;
}

.item p {
    font-weight: 600;
    font-size: 18px;
}

.transfer-link a {
    text-decoration: none;
    color: #161616;
    margin: 4px 16px;
}

.transfer-link {
    display: flex;

    width: 100px;
    height: 32px;
    margin-top: 20px;
    text-align: center;
    border: 2px solid #161616;
    border-radius: 5px;
}

.item-margin {
    margin-left: 15px;
}

/* Icon Design**** Start ****/
.item-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-content: space-between;
}

.icon-design,
.icon-design img {
    display: flex;
    justify-content: space-between;
    width: 24px;
    height: 26px;
    color: #161616B2;
}

/* Icon Design ***End***/

/* Footer Design**** Start ****/

.footer-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 444px;
    color: white;
    background-color: #161616;
}

.footer-class h2 {
    font-weight: 600;
    font-size: 40px;
}

.footer-class hr {
    width: 1320px;
    background-color: rgba(255, 255, 255, 0.1);
    ;
}

.footer-info {
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(6, 1fr);
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
}

.social-link a {
    text-decoration: none;
    color: #b26fe6;
}

.social-link i {
    padding: 5px;
    color: white;
}

/* Footer Design ***End***/


/* meida query */
@media only screen and (max-width:480px) {
    .big-image-area {
        width: 100%;
        height: 100%;
    }

    .big-image-text {
        width: 100%;
        align-items: flex-end;
    }

    h2 {
        font-size: 40px;
    }

    .second-container {
        flex-direction: column;
        justify-content: center;
    }

    .item-1 {
        justify-content: center;
        margin-left: 20px;
        background-color: #FFFFFF;
    }

    .item-1 div {
        border: 3px solid black;
    }

    .grid-items {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 10px;
    }

    .footer-class {
        width: 100%;
        height: 100%;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .social-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

@media only screen and (min-width: 481px) and (max-width:768px) {
    .big-image-area {
        width: 100%;
        height: 100%;
    }

    .big-image-text {
        width: 100%;
        align-items: flex-end;
    }

    h2 {
        font-size: 40px;
    }

    .second-container {
        flex-direction: column;
        justify-content: center;
    }

    .item-1 {
        flex-direction: row;
        width: 100vw;
        height: 30vh;
    }

    .grid-items {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 25px;
    }

    .footer-class {
        width: 100%;
        height: 100%;
    }
}